body {
	background-color: #CCE7F0;
}

.floor {
	margin-left: 12%;
}

.my-button {
	width: 100%;
	max-width: 250px;
}

.circle {
	color: white;
	background-color: red;
	text-align: center;
	vertical-align: middle;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 30px;
}

.notification {
	position: absolute;
	right: 10px;
	width: 270px;
	top: 50px;
	z-index: 100;
}

.thumbnail {
	border: none;
	position: relative;
	margin-top: 5px;
}

.video-caption {
	font-size: 20px;
	text-align: center;
	margin-top: -20px;
}

td a {
	color: black;
}

.alert {
	display: none;
}

.bottom-space td {
	padding-bottom: 10px;
}
